<div class="marca">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-4"><b>Nombre</b>:</div>
        <div class="col-sm-8">{{marca?.nombre}}</div>
      </div>
      <div class="row">
          <div class="col-sm-4"><b>Referencia</b>:</div>
          <div class="col-sm-8">{{marca?.referencia}}</div>
      </div><br>
  
      <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-outline-dark btn-sm" routerLink="/marca/listado">
              <i class="mdi mdi-arrow-left-bold"></i> Regresar
            </a>
          </div>
      </div>
    </div>
  </div>
</div>